<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        colors="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
>
    <testsuites>
        <testsuite name="PDO Wrapper Unit Tests">
            <directory suffix="Test.php ">tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
